<footer class="mt-5 border-top pt-4">
  <div class="container text-center">

    <div class="mb-3">
      <i class="fa-brands fa-square-facebook mx-2"></i>
      <i class="fa-brands fa-square-instagram mx-2"></i>
      <i class="fa-brands fa-square-linkedin mx-2"></i>
    </div>

    <div class="mb-2 fw-semibold">
      Wonderlust Private Limited
    </div>

    <div class="f-info-links">
      <a href="/privacy" class="me-3 text-decoration-none">Privacy</a>
      <a href="/terms" class="text-decoration-none">Terms</a>
    </div>

  </div>
</footer>
